/* body {
    background-image:
      repeating-linear-gradient(60deg, transparent, transparent 20px, #ccc 20px, #ccc 40px),
      repeating-linear-gradient(-60deg, transparent, transparent 20px, #ccc 20px, #ccc 40px),
      repeating-radial-gradient(circle at 10% 10%, #ccc, #ccc 10px, transparent 10px, transparent 100%),
      repeating-radial-gradient(circle at 90% 10%, #ccc, #ccc 10px, transparent 10px, transparent 100%);
    background-size: 40px 70.7px;
    background-color: #fff;
  } */

  /* body {
    background-image:
      repeating-linear-gradient(60deg, transparent, transparent 28px, #ccc 28px, #ccc 56px),
      repeating-linear-gradient(-60deg, transparent, transparent 28px, #ccc 28px, #ccc 56px),
      repeating-radial-gradient(circle at 10% 10%, #ccc, #ccc 16.8px, transparent 16.8px, transparent 100%),
      repeating-radial-gradient(circle at 90% 10%, #ccc, #ccc 16.8px, transparent 16.8px, transparent 100%);
    background-size: 56px 99.2px;
    background-color: #fff;
  } */
  
  /* body {
    background-image:
      repeating-linear-gradient(60deg, transparent, transparent 28px, #ff00d4 28px, #00b7ff 56px),
      repeating-linear-gradient(-60deg, transparent, transparent 28px, #ff00d4 28px, #00b7ff 56px),
      repeating-radial-gradient(circle at 10% 10%, #ff00d4, #ff00d4 16.8px, transparent 16.8px, transparent 100%),
      repeating-radial-gradient(circle at 90% 10%, #00b7ff, #00b7ff 16.8px, transparent 16.8px, transparent 100%);
    background-size: 56px 99.2px;
    background-color: #000;
  } */
  
  
  /* body {
    background-image:
      repeating-linear-gradient(60deg, transparent, transparent 28px, #333 28px, #333 56px),
      repeating-linear-gradient(-60deg, transparent, transparent 28px, #333 28px, #333 56px),
      repeating-radial-gradient(circle at 10% 10%, #333, #333 16.8px, transparent 16.8px, transparent 100%),
      repeating-radial-gradient(circle at 90% 10%, #333, #333 16.8px, transparent 16.8px, transparent 100%);
    background-size: 56px 99.2px;
    background-color: #000;
  } */

  body {
    background: linear-gradient(120deg, #0e8dd1, #6b0851, #b10d90) fixed;
    background-size: 400% 400%;
    animation: bg-gradient 15s ease infinite;
  }
  
  @keyframes bg-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  